@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 700px;
    height: 150px;

    margin: 20px auto 0 auto;
    padding: 10px;

    background-color: rgba(240, 255, 255, 0.5);

    position: sticky;

    top: 15px;
}

header h1 {
    margin: 10px;
    padding: 10px;

    text-align: center;
    font-family: "Gowun Dodum";
}

header h1 a {
    text-decoration: none;
    color: rgb(126, 50, 50);
}

header h1 a:hover {
    color: rgb(56, 39, 39)
}

header h5 {
    font-family: "Gowun Batang";
    color: rgb(221, 68, 68);
    text-align: right;
}
/*
nav {
    display : none;
    width: 700px;
    height: 50px;

    margin: 0 auto 10px auto;
    padding: 10px;
}

nav ul li {
    width: 20%;
    height: 30px;

    list-style-type: none;

    float: left;
    
    padding: 12px 0 8px 0;
    text-align: center;
    
    background: rgb(177, 48, 48);
}

nav ul li:hover {
    background-color: aliceblue;

    color:rgb(126, 50, 50);
}

nav ul li:nth-child(1) {
    border-radius: 15px 0 0 15px;
}

nav ul li:nth-child(5) {
    border-radius: 0 15px 15px 0;
}
*/

div#content {
    width: 700px;
    height: 700px;
    margin: 0px auto 20px auto;
    padding: 10px;
    
    background-color: antiquewhite;
}


#left_content {
    width: 39%;
    height: 700px;
    background-color: greenyellow;
    float: left;
}

#right_content {
    width: 60%;
    height: 700px;
    background-color: lightskyblue;
    float: right;
}

.r {
    margin: 10px;
    padding: 10px;

    background-color: aliceblue;


    line-height: 1.6em;
    letter-spacing: 0.05em;

    font-family: "IBM Plex Sans KR";
}

.r h2 {
    border-left: 10px solid black;
    padding-left: 10px;

    margin: 10px 0 15px 0;
}

#r1 p, #r3 p {
    background-image: url('../img/game.png');
    background-repeat: no-repeat;
    background-position: right bottom;

    padding: 10px;
}

#r2 li {
    list-style-type: none;
}

#r3 p {
    background-image: url('../img/edu.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

#r4 p {
    margin-bottom: 10px;
}

#r5 p {
    margin-bottom: 10px;
}

#pagetop {
    position: fixed;

    bottom: 10px;
    right: 10px;
}